<!DOCTYPE html>
<html lang="es">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago - Sd Games</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="icon" type="image/png" href="{% static 'images/sdgameslogo.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles_detalles_compra.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-1 bg-light">
                    <h5 class="fw-bold">Resumen del Pedido</h5>
                    <div class="box-inner-2">
                        {% for item in productos %}
                        <div class="d-flex justify-content-between">
                            <p>{{ item.producto.nombre }} x{{ item.cantidad }}</p>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="d-flex justify-content-between fw-bold">
                            <p>Total</p>
                            <p>${{ total|formato_chileno }}</p>
                        </div>
                        <div class="mt-3">
                            <form method="POST" action="{% url 'detalles_compra' %}">
                                {% csrf_token %}
                                <div class="mt-3">
                                    <label for="metodo-envio" class="form-label">Método de envío</label>
                                    <select id="metodo-envio" name="metodo_envio" class="form-select" required>
                                        <option value='' disabled selected>Selecciona método de envío</option>
                                        <option value="domicilio">Envío a domicilio</option>
                                        <option value="tienda">Retiro en tienda</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="box-2 bg-light">
                    <h5 class="fw-bold">Datos del Usuario</h5>
                    <div id="user-details" style="display: block;">
                        <p><strong>RUT:</strong> {{ usuario.rut }}</p>
                        <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
                        <p><strong>Región:</strong> {{ usuario.region }}</p>
                        <p><strong>Ciudad:</strong> {{ usuario.ciudad }}</p>
                        <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
                        <button id="edit-button" class="Btn mt-2">Editar 
                            <svg class="svg" viewBox="0 0 512 512">
                              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
                        </button>
                    </div>
                    <div id="retiro-tienda" style="display: none;">
                        <p><strong>Dirección:</strong> Av. Simpson 3242</p>
                        <p><strong>Horarios:</strong> 9:00 AM - 7:00 PM</p>
                    </div>
                    <form id="edit-form" method="POST" style="display: none;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="rut" class="form-label">RUT</label>
                            <input type="text" id="rut" name="rut" class="form-control" value="{{ usuario.rut|default:'' }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección</label>
                            <input type="text" id="direccion" name="direccion" class="form-control" value="{{ usuario.direccion }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="region" class="form-label">Región</label>
                            <input type="text" id="region" name="region" class="form-control" value="{{ usuario.region }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="ciudad" class="form-label">Ciudad</label>
                            <input type="text" id="ciudad" name="ciudad" class="form-control" value="{{ usuario.ciudad }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" id="telefono" name="telefono" class="form-control" value="{{ usuario.telefono }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" id="cancel-button" class="btn btn-secondary">Cancelar</button>
                    </form>
                </div>
                    <div class="d-flex justify-content-between fw-bold">
                        <p>Subtotal</p>
                        <p>${{ total|formato_chileno }}</p>
                    </div>
                    <div id="total-container" data-total="{{ total }}"></div>
                    <div class="d-flex justify-content-between fw-bold">
                        <p>Envío</p>
                        <p class="envio-costo">$0</p>
                    </div>
                    <div class="d-flex justify-content-between fw-bold">
                        <p>Total</p>
                        <p class="total-costo">$-</p>
                    </div>
                    <form action="{% url 'pago' %}" method="get">
                        <input type="hidden" name="total" value="{{ total }}">
                        <button type="submit" class="btn btn-primary w-100 mt-3">Proceder al Pago</button>
                    </form>                    
                </form>
            </div>
        </div>
    </div>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const editButton = document.getElementById("edit-button");
            const cancelButton = document.getElementById("cancel-button");
            const userDetails = document.getElementById("user-details");
            const editForm = document.getElementById("edit-form");
            const metodoEnvio = document.getElementById("metodo-envio");
            const envioDomicilio = document.getElementById("user-details");
            const retiroTienda = document.getElementById("retiro-tienda");
            const envioCosto = document.querySelector(".envio-costo"); 
            const totalCosto = document.querySelector(".total-costo"); 
            const totalBase = parseFloat(
                document.getElementById("total-container").dataset.total
            );

            // Mostrar/ocultar el formulario de edición
            editButton.addEventListener("click", () => {
                userDetails.style.display = "none";
                editForm.style.display = "block";
            });

            cancelButton.addEventListener("click", () => {
                userDetails.style.display = "block";
                editForm.style.display = "none";
            });

            // Manejar cambios en el método de envío
            metodoEnvio.addEventListener("change", () => {
                let envioExtra = 0;

                if (metodoEnvio.value === "domicilio") {
                    envioExtra = 6000;
                    envioDomicilio.style.display = "block";
                    retiroTienda.style.display = "none";
                } else if (metodoEnvio.value === "tienda") {
                    envioExtra = 0;
                    envioDomicilio.style.display = "none";
                    retiroTienda.style.display = "block";

                    // Cerrar el formulario de edición si está abierto
                    if (editForm.style.display === "block") {
                        editForm.style.display = "none";
                        userDetails.style.display = "block";
                    }
                }

                envioCosto.textContent = `$${envioExtra.toLocaleString()}`;
                totalCosto.textContent = `$${(totalBase + envioExtra).toLocaleString()}`;
            });

            // Validar método de envío antes de proceder al pago
            const formCompra = document.querySelector("form[action='{% url 'detalles_compra' %}']");
            formCompra.addEventListener("submit", (event) => {
                if (metodoEnvio.value === "Selecciona método de envío") {
                    alert("Por favor, selecciona un método de envío.");
                    event.preventDefault();
                }
            });
        });
    </script>
    
    
    
</body>

</html>
