body{
    height: 100%;
    margin: 0;
    color: #1a202c;
    text-align: left;
    background-color: #d7ccc8;
    font-family: Arial, sans-serif;
    overflow-x: hidden;   
}

.container {
    height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

h3{
    text-align: center;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.message .icon {
    margin-right: 10px;
    font-size: 18px;
}

.message.error {
    background-color: #e74c3c; /* Rojo */
    border: 1px solid #c0392b;
}

.message.success {
    background-color: #2ecc71; /* Verde */
    border: 1px solid #27ae60;
}

.message.warning {
    background-color: #f1c40f; /* Amarillo */
    border: 1px solid #f39c12;
    color: #333;
}

.message.info {
    background-color: #3498db; /* Azul */
    border: 1px solid #2980b9;
}

