body {
  background-color: #d7ccc8;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/*color de textos*/
.custom-text-color {
  color: rgb(255, 255, 255);
}

button {
  --primary-color: #9c9592;
  --secondary-color: #fff;
  --hover-color: #6e6e6e;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  padding: 10px;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

/* nav de busqueda */
.navbar-light {
  margin-top: 56px;
  background-color: #2c2e33;
}

.navbar-light .form-control {
  border-radius: 20px;
}

.navbar-light .btn {
  background-color: #9c9592;
  border-radius: 20px;
  color: #fff;
}

.navbar-light .btn:hover {
  background-color: #6e6e6e;
}

.navbar-light .icons a {
  font-size: 1.2rem;
}

.navbar-light .icons a:hover {
  color: #0f0b00;
}
/* fin de nav de busqueda */

/* Muestra el menú al pasar el mouse sobre JUEGOS */
/* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #2c2e33;
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se ajusten en el ancho disponible */
  gap: 40px;
  width: 1000px;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar el menú al pasar el mouse */
.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

/* Contenedor de las columnas */
.dropdown-menu .col-md-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

/* Enlaces dentro de las columnas */
.dropdown-item {
  color: #fff;
  padding: 5px 15px;
  white-space: nowrap; /* Evita que los enlaces se corten */
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Imagen a la derecha */
.dropdown-image1 {
  width: 350px;
  height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(255, 252, 252, 0.452);
  align-self: flex-end; /* Alinea la imagen a la derecha */
  flex-shrink: 0; /* Evita que la imagen se reduzca */
}

/* Estilos de la barra de navegación */
.navbar-toggler {
  border: 1px solid #fff;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-header {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.nav-link{
  font-weight: bold;
  color: #fff;
}




#myCarousel .carousel-item .mask {
    position: relative;
    margin-top: 150px;
    top: 0;
	  left:0;
	  height:100%;
    width: 100%;
    background-attachment: fixed;
}
.textcarrousel {
  font-size: 50px;
  margin-bottom: 15px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
}
#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #d5d5d5;
}

#myCarousel .carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#myCarousel .carousel-item .btn-comprar {
  background: #9c9592;
  font-size: 14px;
  color: #fff;
  padding: 13px 32px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
}

#myCarousel .carousel-item a:hover {
  background: #6e6e6e;
  text-decoration: none;
  opacity: 1;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}
#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#myCarousel .container {
  max-width: 1430px;
}
#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}
#myCarousel {
  position: relative;
  z-index: 1;
  background-color: #6e6e6e center center no-repeat;
  background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-3000%); 
    height: 40px;
    width: 40px;
    padding: 12px;
    background-color: #9c9592;
    opacity: 0.8;
    z-index: 2;
}

.carousel-control-prev {
  left: 100px;
}

.carousel-control-next {
  right: 100px;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
  margin-top: 200px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-products .single-product:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.section-products .single-product .part-1 {
  position: relative;
  height: 400px;
  max-height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #9c9592;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #9c9592;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

.precioprod {
  color: #110b0b;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}

.section-products .single-product .part-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.btn-detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; 
  width: fit-content; 
  padding: 10px 20px;
  background-color: #9c9592; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-detalles:hover {
  background-color: #6e6e6e; 
  color: #fff;
}

@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }		

@keyframes anim-down { 
	from { opacity: 0; transform: translateY(-100px); } 
	to { opacity: 1; transform: translateY(0px); }  
}		

.anim-down{
	animation-duration: 1s; 
	animation-delay: 0.5s; 		
	animation-fill-mode: both; 
}

.anim-down { animation-name: anim-down; }

.paused * { 
	animation-play-state: paused;
}

footer{
  background-color: #2c2e33;
  color: #ffffff;
  height: auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
/*enlaces rapidos del footer*/
.footerli {
  text-decoration: none;
}
