body {
    background-color: #d7ccc8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0; /* Elimina cualquier margen vertical */
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
}


.card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h4 {
    color: #333333;
}

.card-atm {
    display: flex;
    gap: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.metodo-pago p {
    margin: 0 0 10px;
}

.form-check label {
    margin-left: 5px;
}
