body {
  background-color: #d7ccc8;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 100px;
}

/*color de textos*/
.custom-text-color {
  color: rgb(255, 255, 255);
}

button {
  --primary-color: #9c9592;
  --secondary-color: #fff;
  --hover-color: #6e6e6e;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  padding: 10px;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.icons a {
  font-size: 1.2rem;
}

.icons a:hover {
  color: #0f0b00;
}

.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.link {
  background-color: #9c9592;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  background-color: #804040;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #2c2e33;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #831c1c;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #2c2e33;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}
nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #2c2e33;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #2c2e33;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #2c2e33;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #2c2e33;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

.d-flex.login-desktop {
  display: flex;
}

.sidebar-login {
  display: none;
}

@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .d-flex.login-desktop {
    display: none;
  }

  .sidebar-login {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #2c2e33;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

.user-info-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: -1px;
  padding-top: 90px;
  padding-bottom: 30px;
  border: 1px solid #e1e7ec;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

.user-info-wrapper .user-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-position: center;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-info-wrapper .user-cover .tooltip .tooltip-inner {
  width: 230px;
  max-width: 100%;
  padding: 10px 15px;
}

.user-info-wrapper .info-label {
  display: block;
  position: absolute;
  top: 18px;
  right: 18px;
  height: 26px;
  padding: 0 12px;
  border-radius: 13px;
  background-color: #fff;
  color: #606975;
  font-size: 12px;
  line-height: 26px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.user-info-wrapper .info-label > i {
  display: inline-block;
  margin-right: 3px;
  font-size: 1.2em;
  vertical-align: middle;
}

.user-info-wrapper .user-info {
  display: table;
  position: relative;
  width: 100%;
  padding: 0 18px;
  z-index: 5;
}

.user-info-wrapper .user-info .user-avatar,
.user-info-wrapper .user-info .user-data {
  display: table-cell;
  vertical-align: top;
}

.user-info-wrapper .user-info .user-avatar {
  position: relative;
  width: 115px;
}

.user-info-wrapper .user-info .user-avatar > img {
  display: block;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
}

.user-info-wrapper .user-info .user-avatar .edit-avatar {
  display: block;
  position: absolute;
  top: -2px;
  right: 2px;
  width: 36px;
  height: 36px;
  transition: opacity 0.3s;
  border-radius: 50%;
  background-color: #fff;
  color: #606975;
  line-height: 34px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  text-align: center;
  text-decoration: none;
}

.user-info-wrapper .user-info .user-avatar .edit-avatar::before {
  font-family: feather;
  font-size: 17px;
  content: "\e058";
}

.user-info-wrapper .user-info .user-avatar:hover .edit-avatar {
  opacity: 1;
}

.user-info-wrapper .user-info .user-data {
  padding-top: 48px;
  padding-left: 12px;
}

.user-info-wrapper .user-info .user-data h4 {
  margin-bottom: 2px;
}

.user-info-wrapper .user-info .user-data span {
  display: block;
  color: #9da9b9;
  font-size: 13px;
}

.user-info-wrapper + .list-group .list-group-item:first-child {
  border-radius: 0;
}

.user-info-wrapper + .list-group .list-group-item:first-child {
  border-radius: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
a.list-group-item {
  padding-top: 0.87rem;
  padding-bottom: 0.87rem;
}
a.list-group-item,
.list-group-item-action {
  transition: all 0.25s;
  color: #606975;
  font-weight: 500;
}
.with-badge {
  position: relative;
  padding-right: 3.3rem;
}
.list-group-item {
  border-color: #e1e7ec;
  background-color: #fff;
  text-decoration: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.shopping-cart,
.wishlist-table,
.order-table {
  margin-bottom: 20px;
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
  margin-bottom: 50px;
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
  margin: 0;
}

.shopping-cart > table > thead > tr > th,
.shopping-cart > table > thead > tr > td,
.shopping-cart > table > tbody > tr > th,
.shopping-cart > table > tbody > tr > td,
.wishlist-table > table > thead > tr > th,
.wishlist-table > table > thead > tr > td,
.wishlist-table > table > tbody > tr > th,
.wishlist-table > table > tbody > tr > td,
.order-table > table > thead > tr > th,
.order-table > table > thead > tr > td,
.order-table > table > tbody > tr > th,
.order-table > table > tbody > tr > td {
  vertical-align: middle !important;
}

.shopping-cart > table thead th,
.wishlist-table > table thead th,
.order-table > table thead th {
  padding-top: 17px;
  padding-bottom: 17px;
  border-width: 1px;
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
  display: inline-block;
  color: #ff5252;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
  display: inline-block;
  width: 100%;
  width: 86px;
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
  display: table;
  width: 100%;
  min-width: 150px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
  display: table-cell;
  vertical-align: top;
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
  width: 130px;
  padding-right: 20px;
}

.shopping-cart .product-item .product-thumb > img,
.wishlist-table .product-item .product-thumb > img,
.order-table .product-item .product-thumb > img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 860px) {
  .shopping-cart .product-item .product-thumb,
  .wishlist-table .product-item .product-thumb,
  .order-table .product-item .product-thumb {
    display: none;
  }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
  display: block;
  font-size: 13px;
}

.shopping-cart .product-item .product-info span > em,
.wishlist-table .product-item .product-info span > em,
.order-table .product-item .product-info span > em {
  font-weight: 500;
  font-style: normal;
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
  margin-bottom: 6px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.shopping-cart .product-item .product-title > a,
.wishlist-table .product-item .product-title > a,
.order-table .product-item .product-title > a {
  transition: color 0.3s;
  color: #374250;
  line-height: 1.5;
  text-decoration: none;
}

.shopping-cart .product-item .product-title > a:hover,
.wishlist-table .product-item .product-title > a:hover,
.order-table .product-item .product-title > a:hover {
  color: #0da9ef;
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
  display: inline;
  margin-left: 6px;
  font-weight: 500;
}

.wishlist-table .product-item .product-thumb {
  display: table-cell !important;
}

@media screen and (max-width: 576px) {
  .wishlist-table .product-item .product-thumb {
    display: none !important;
  }
}

.badge.badge-primary {
  background-color: #0da9ef;
}
.with-badge .badge {
  position: absolute;
  top: 50%;
  right: 1.15rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.list-group-item i {
  margin-top: -4px;
  margin-right: 8px;
  font-size: 1.1em;
}

.close .fas {
  font-size: 20px;
  color: #000000;
}

/*footer*/
footer {
  background-color: #2c2e33;
  color: #ffffff;
  height: auto;
  padding: 20px;
  text-align: center;
}
/*enlaces rapidos del footer*/
.footerli {
  text-decoration: none;
}
/*fin del footer*/
